{% extends 'base.twig' %}

{% block content %}

{% if user %}
<h1> Please confirm that the following is correct</h1>
<h2> Press "confirm" and a new password will be sent to your e-mail</h2>

<h3>Full name: {{ user.fullname|raw  }}</h3>
<h3>Address: {{ user.address }} </h3>
<h3>Postcode: {{ user.postcode }} </h3>

    <form action="" method="POST">
        <label>Is this information correct? </label>
        <br>
        <input type = "hidden" name = "username" value = "{{ user.username }}">
        <input type="submit" name="trueInformation" value="This information is correct" title = "YES!"> <br />
    </form>

</form>

{% else %}
    Could not find a user with that username.
{% endif %}

{% endblock %}