{% extends 'base.twig' %}

{% block content %}

<h1> So you've forgotten your password? </h1>
<h2> Please input your username </h2>
{{ flash.error}}
<form action="" method="POST">
    <label>Username: </label>
    <input type="text" name="username"> <br />
    <input type="submit" name="submit" value="Submit">
</form>
{% endblock %}