{% extends 'base.twig' %}

{% block content %}

{% if user %}
<h1> User found </h1>
<h2> Press "confirm" and a new password will be sent to your e-mail</h2>


<h3>Username: {{ user.username|e('html_attr') }}</h3>
    <form action="" method="POST">
        <input type="submit" name="trueInformation" value="Reset password" title = "YES!"> <br />
    </form>

</form>

{% else %}
    Could not find a user with that username.
{% endif %}

{% endblock %}