{% extends 'base.twig' %}

{% block content %}

    <h3>News</h3>
        {{ flash.error }} <br/>
       <p> Welcome to Health Forum. The worlds first message board online related entirely to peer to peer medical advice. </p>
    <p> Health Forum has been designed by a diverse team and security has since day one been our first priority. You can be sure that you can post anonymously and securely on our forum</p>
    <p> Before you can post questions or read or answer other peoples questions, you need to login to your account</p>
    
{% endblock %}
