{% extends 'base.twig' %}

{% block content %}

    <h2>Transfer money</h2>

    <form action="" method="POST">
        <div id="flasherror">{{ flash.error|e('html_attr') }}</div>
        <table>
            <th>Balance:</th>
            <td>{{ user.balance|e('html_attr') }}</td>
            <tr></tr>
            <th>Card number (4 last digits):</th>
            <td>{{ user.cardNumber|e('html_attr') }}</td>
            <td><input type="button" name="changeCard" value="Change cardnumber"></td>
            <tr></tr>
            <th>Select sum to transfer: </th>
            <td><input type="number" name="number"></td>
            <tr></tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Transfer" style="float: right">
            </td>
        </table>
    </form>
{% endblock %}
